#fond{
   
    background-color: grey;
    position: absolute;
    bottom: 6rem;
}
/* .buttonHeight{
    height: 7rem;
} */
.fontSizes{
    font-size: 4rem;
}
.fontSize{
    font-size: 4rem;
}
.heightCard{
    height: 10rem;

}
body{
    background-color: grey;
}
@media (max-width: 576px) {
    .fontSizes {
      font-size: 2rem;
    }
  }